<!DOCTYPE html>
<html>
<head>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p>
        Oi {{firstName}}.
    </p>
    <p>
        Você solicitou o reset de senha, por favor clique no link abaixo to reiniciar sua senha.
    </p>
    <p>
        Por favor ignore esse e-mail se você não solicitou a mudança de senha.
    </p>
    <p>
        <a href="{{ resetPasswordLink }}">
            Clique no link para reiniciar sua senha ou copie o link e cole no navegador.
        </a>
    </p>
    <p>
        Obrigado,

        Equipe de desenvolvimento.
    </p>
</div>
</body>
</html>